services:
    alumnos-service:
        image: gestion-alumnos:v1.0.0
        deploy:
            replicas: 5
        env_file:
            - ../.env
        environment:
            - FLASK_CONTEXT=production
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
            - REDIS_PASSWORD=${REDIS_PASSWORD}
            - HOST_DB=${HOST_DB}
            - USER_DB=${USER_DB}
            - PASSWORD_DB=${PASSWORD_DB}
            - NAME_DB=${NAME_DB}
        networks:
            mired:
                aliases:
                    - alumnos.universidad.localhost
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.alumnos-service.rule=Host(`alumnos.universidad.localhost`)"
            - "traefik.http.routers.alumnos-service.tls=true"
            - "traefik.http.services.alumnos-service.loadbalancer.server.port=5000"
            # Patron Circuit Breaker
            - "traefik.http.middlewares.alumnos-service.circuitbreaker.expression=LatencyAtQuantileMS(50.0) > 100"
            - "traefik.http.middlewares.alumnos-service.circuitbreaker.expression=ResponseCodeRatio(500, 600, 0, 600) > 0.25"
            - "traefik.http.middlewares.alumnos-service.circuitbreaker.expression=NetworkErrorRatio() > 0.5"
            - "traefik.http.middlewares.alumnos-service.retry.attempts=4"
            - "traefik.http.middlewares.alumnos-service.retry.initialinterval=100ms"            
            - "traefik.docker.network=mired"
    traefik:
        image: traefik:v2.11
        # Si no esta esto, no te deja levantar el contenedor, ya que levantamos los contenedores en una carpeta con el mismo nombre "docker"
        container_name: traefik-gestion-alumnos
        restart: unless-stopped
        security_opt:
            - no-new-privileges:true
        ports:
            - 8880:80
            - 8843:443
        volumes:
            - ../app/traefik/config/traefik.yml:/etc/traefik/traefik.yml:ro
            - ../app/traefik/config/config.yml:/etc/traefik/config.yml:ro
            - ../app/traefik/certs:/etc/certs:ro
            - /var/run/docker.sock:/var/run/docker.sock:ro
        networks:
            - mired
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.traefik=true"
    redis:
        image: redis:7.2-alpine
        restart: always
        environment:
            - REDIS_PASSWORD=${REDIS_PASSWORD}
        command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
        ports:
            - "6379:6379"
        networks:
            - mired
networks:
    mired:
        external: true
